* {
    margin: 0%;
}


/*--header / navbar----------------------------------------------------------------*/


header {
    background-color: #81D618;
    display: flex;
    align-items: center;
    padding: 0px 2%;
}


#logoVP {
    width: 13%;
}


.logoTopBott {
    width: 80%;
    margin: 10%;
}


nav {
    width: 100%;
}


#actualPage {
    filter: drop-shadow(0px 0px 10px white);
}


.listContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
}


.listContainer li {
    margin: 0px 2%;
    padding: 10px 0px;
    color: #FFFFFF;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.listContainer a, .listContainer a:visited{
    text-decoration: none;
    color: #FFFFFF;
}


a:hover {
    filter: opacity(0.6);
}


/*--Main / mainImagen / ImagenHead----------------------------------------------------------------*/


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}


.mainRowHead {
    background-color: #1E3600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

h1 {
    color: #FFFFFF;
    text-align: center;
}


.mainHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.mainHead img {
    position: relative;
    border-radius: 0 0 5% 5%;
    width: 70%;
}


.contHeadText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60%;
}


.hContainer {
    width: 60%;
    border-style: dashed;
    border-color: #81D618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.5% 2%;
}

.hContainer h1, .hContainer h2 {
    color: #FFFFFF;
    text-align: center;
    margin: 0 10%;
}


.h2Container {
    border-top-style: hidden;
}


.mainHead .contHeadText h1 {
    font-size: 70px;
    font-weight: normal;
}


.hContainer h2 {
    font-size: 30px;
    font-weight: normal;
}


/*--Que es Pilates----------------------------------------------------------------*/


.qEsPinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
}

.qEsPinfo h3 {
    align-self: flex-start;
}

h3 {
    margin: 5% 0px 0px 0px;
    padding-left: 10%;
    font-size: 35px;
    color: #7E58A3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#slashTopText {
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
}


p {
    margin: 2%;
    padding: 0 7%;
    font-size: 24px;
    text-indent: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.qEsPinfo:nth-child(2) {
    margin-bottom: 7%;
}


.imgMed {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}


.imgMed img {
    width: 45%;
    margin: 0px 25px 0 25px;
    border-width: 5px;
    border-style: solid;
    border-radius: 15%;
    border-color: #7E58A3;
}


.benef {
    display: flex;
    flex-direction: column;
    width: 85%;
}


/*--Novedades----------------------------------------------------------------*/


.mainNotContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
}


.not{
    width: 60%;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
}


.not * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.not > img {
    width: 100%;
    height: 100%;
    border: 3px solid blueviolet;
    border-radius: 10%;
    margin-bottom: 25px;
}


.not > h2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0;
    color: #684192;
}

.not > p {
    padding: 0 5%;
    margin: 0 0 50px 0;
}

.not div > p {
    padding: 0 10px;
    margin: 0;
    font-size: 20px;
}


.not > div {
    display: flex;
    align-items: center;
}


#timeLogo {
    width: 30px;
    height: 30px;
}


/*--Contactos----------------------------------------------------------------*/


.mainMidCont {
    background-color: rgba(126, 88, 163, 0.75);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainMidCont img {
    width: 40px;
    height: 40px;
}


.allInfoCont {
    margin: 100px 30px 100px 100px;
    width: 500px;
}

.streetAndMap {
    margin: 100px 100px 100px 30px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mapContainer {
    background-color: #613D7E;
    width: 100%;
    height: 500px;
    margin: 25px;
    border: 5px #613D7E solid;
    
}


#map {
    width: 100%;
    height: 100%;
}


.mainContInfo {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
}

.rowCont {
    background-color: #ffffff;
    width: auto;
    height: 2px;
    margin-bottom: 50px;
}


.logAndInf {
    display: flex;
    margin: 20px 0;
}


.logAndInf h2 {
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 15px;
}


.mainFollowCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mainFollowCont h2 {
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 50px;
    font-size: 40px;
}


.seguinosImages img {
    margin: 0 50px;
    width: 60px;
    height: 60px;
}


#locationLogo {
    width: 30px;
}


/*--TPA----------------------------------------------------------------*/


.mainVPyTPA {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}


.mainVPyTPA h2 {
    font-size: 50px;
    color: #7E58A3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.vpytpaInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 100px 0;
}

.vpytpaInfo p {
    width: 35%;
    padding: 0 7%;
    margin: 30px 0;
}


.carousel {
    width: 100%;
    background-color: #7E58A3;
    margin-bottom: 5%;
}


.carousel-outinner-flex {
    width: 100%;
    display: flex;
    justify-content: center;
}


.carousel-inner {
    width: 40%;
    align-self: center;
    padding: 4%;
}


.benefTPA {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10%;
}

.benefTPA div {
    display: inline-block;
    width: 400px;
    margin: 0 30px;
    align-self: center;
}

.benefTPA div h3, .benefTPA div ul {
    margin: 0 0 40px 0;
    padding: 0;
}

.benefTPA div ul {
    padding-left: 50px;
}

.benefTPA img {
    width: 35%;
    height: 35%;
    place-self: center;
    border-radius: 20px;
    margin: 0 30px;
}


.blackRow {
    background-color: #000000;
    width: 70%;
    height: 3px;
    margin-bottom: 5%;
}


.lastInfoTPA {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}

.lastInfoTPA h3, .lastInfoSobreMi h3 {
    text-align: center;
    padding: 0 40px;
    margin: 20px 0 40px 0;
}

.lastInfoTPA p, .lastInfoSobreMi p {
    text-align: center;
}


.lastInfoSobreMi {
    display: flex;
    flex-direction: column;
    width: 85%;
}



ul, ol {
    margin: 2% 0;
    padding: 0 0 0 15%;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*--Footer----------------------------------------------------------------*/


footer {
    margin: 5% 0px 0px 0px;
}

#noMargin {
    margin: 0;
}


.mainFooter {
    background-color: #7E58A3;
    display: flex;
    align-items: center;
    padding: 0px 3%;
}


.logosContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.logosContainer a {
    margin: 0 3%;
}

.logosContainer a:hover {
    filter: opacity(0.5);
}


#logoFoot {
    width: 4%;
}


.fottLogo {
    width: 80%;
}


/*--Credits----------------------------------------------------------------*/


.credits {
    background-color: #613D7E;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rowFotter {
    background-color: #c1a8e2;
    width: 100%;
    height: 5px;
    top: 50px;
}

.credits p {
    font-size: 15px;
    margin: 13px;
    color: #FFFFFF;
}


/*--Media Queries----------------------------------------------------------------*/


@media (max-width: 1170px) {
    #logoVP {
        width: 15%;
    }
}


@media (max-width: 1024px) {
    #logoVP {
        width: 17%;
    }
}


@media (min-width: 989px) {
    .dropstart {
        display: none;
    }    
}


@media (max-width: 988px) {
    
    .listContainer {
        display: none;
    }


    .dropstart {
        list-style: none;
    }


    .dropdown-item {
        text-align: center;
    }


    .dropdown-item.active {
        background-color: #6a2fa8c2;
    }
}


@media (min-width: 768px) {
    .btn-sm {
        display: none;
    }
}


@media (max-width: 767px) {
    .btn-md {
        display: none;
    }
}


@media (max-width: 600px) {
    #logoVP {
        width: 25%;
    }
}


@media (max-width: 320px) {
    #logoVP {
        width: 30%;
    }
}