/*-------------------------HEADER-------------------------------*/
/*-------------------------MAIN-------------------------------*/
/*-------------------------FOOTER-------------------------------*/
/*---------------COLORS---------------*/
/*---------------FONTS---------------*/
* {
  margin: 0%;
}

#actualPage {
  filter: drop-shadow(0px 0px 10px white);
}

a:hover {
  filter: opacity(0.6);
  transition: 300ms ease;
}

h1 {
  color: #FFFFFF;
  text-align: center;
}

h3 {
  margin: 5% 0px 0px 0px;
  padding-left: 10%;
  font-size: 35px;
  color: #7E58A3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  margin: 2%;
  padding: 0 3%;
  font-size: 24px;
  text-indent: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
  margin: 2% 0;
  padding: 0 0 0 15%;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  margin: 0;
}

.mainRowHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  background-color: #1E3600;
  width: 100%;
  height: 10%;
}
.mainRowHead h1 {
  margin: 0;
  padding: 0.75%;
}

#logoVP {
  width: 13%;
}

.logoTopBott {
  width: 60%;
  margin: 5%;
}

/*-------------------------------header / navbar----------------------------------*/
header {
  background-color: #81D618;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
  padding: 0px 2%;
}
header nav {
  width: 100%;
}
header nav .listContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: none;
  list-style-type: none;
  margin: 5px 0px;
  padding: 0 9% 0 0;
}
header nav .listContainer li {
  margin: 0px 2%;
  padding: 0px 1%;
  color: #FFFFFF;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header nav .listContainer li:hover {
  transform: scale(1.1);
  transition: transform 300ms ease;
}
header nav .listContainer a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav .listContainer a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

/*-------------------------------Footer-----------------------------------*/
footer {
  margin: 5% 0px 0px 0px;
}
footer .mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
  background-color: #7E58A3;
  padding: 0px 3%;
}
footer .mainFooter .logosContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 100%;
}
footer .mainFooter .logosContainer a {
  margin: 0 2%;
}
footer .mainFooter .logosContainer a:hover {
  filter: opacity(0.5);
}
footer .mainFooter .logosContainer a .fottLogo {
  width: 100%;
}
footer .mainFooter .logosContainer #logoFoot {
  width: 2.5%;
}

#noMargin {
  margin: 0;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
  background-color: #613D7E;
}
.credits p {
  font-size: 15px;
  margin: 13px 0;
  color: #FFFFFF;
}
.credits .rowFotter {
  background-color: #c1a8e2;
  width: 100%;
  height: 5px;
  top: 50px;
}

/*------------------------------Index------------------------------------*/
.mainHead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 100%;
}
.mainHead img {
  position: relative;
  border-radius: 0 0 5% 5%;
  width: 70%;
}
.mainHead .contHeadText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  position: absolute;
  width: 60%;
}
.mainHead .contHeadText h1 {
  font-size: 70px;
  font-weight: normal;
}
.mainHead .contHeadText .hContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 60%;
  border-style: dashed;
  border-color: #81D618;
  padding: 3.5% 2%;
}
.mainHead .contHeadText .hContainer h1, .mainHead .contHeadText .hContainer h2 {
  color: #FFFFFF;
  text-align: center;
  margin: 0 10%;
}
.mainHead .contHeadText .hContainer h2 {
  font-size: 30px;
  font-weight: normal;
}
.mainHead .contHeadText .h2Container {
  border-top-style: hidden;
}

.qEsPinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 85%;
}
.qEsPinfo h3 {
  align-self: flex-start;
}
.qEsPinfo:nth-child(2) {
  margin-bottom: 7%;
}

.imgMed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 85%;
  margin-bottom: 2%;
}
.imgMed img {
  width: 45%;
  margin: 0px 25px 0 25px;
  border: 5px solid #7E58A3;
  border-radius: 15%;
}

.benef {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 85%;
}

/*-------------------------------TPA-----------------------------------*/
.benefTPA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 85%;
  margin-bottom: 5%;
}
.benefTPA div {
  display: inline-block;
  width: 400px;
  margin: 0;
  padding: 3%;
  align-self: center;
}
.benefTPA div h3, .benefTPA div ul {
  margin: 0 0 5% 0;
  padding: 0;
}
.benefTPA div ul {
  padding-left: 10%;
}
.benefTPA img {
  width: 35%;
  height: 35%;
  place-self: center;
  border-radius: 20px;
  margin: 3%;
}

.blackRow {
  background-color: #000000;
  width: 70%;
  height: 3px;
  margin-bottom: 5%;
}

.lastInfoTPA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: none;
  gap: none;
  width: 85%;
}
.lastInfoTPA h3 {
  text-align: center;
  padding: 0 4%;
  margin: 3% 0;
}
.lastInfoTPA p {
  text-align: center;
}

/*-------------------------------SobreMi-----------------------------------*/
.mainVPyTPA {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
  margin-top: 4%;
}
.mainVPyTPA h2 {
  font-size: 50px;
  color: #7E58A3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mainVPyTPA .vpytpaInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: none;
  gap: none;
  margin: 3% 0 5% 0;
}
.mainVPyTPA .vpytpaInfo p {
  width: 35%;
  padding: 0;
  margin: 0;
}

#slashTopText {
  padding: 0;
  margin: 0 0 5% 0;
  text-align: center;
}

.lastInfoSobreMi {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 85%;
}
.lastInfoSobreMi h3 {
  text-align: center;
  padding: 0 4%;
  margin: 3% 0;
}
.lastInfoSobreMi p {
  text-align: center;
}

/*-------------------------------Novedades-----------------------------------*/
.mainNotContainer {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: wrap;
  gap: none;
  width: 85%;
}
.mainNotContainer .not {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 60%;
  max-width: 300px;
  margin: 10% auto;
  padding: 0 1%;
}
.mainNotContainer .not * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.mainNotContainer .not .imgNotCont > img {
  width: 100%;
  height: 100%;
  border: 2px solid #7E58A3;
  border-radius: 10%;
  margin-bottom: 10%;
}
.mainNotContainer .not > h2 {
  font-size: 35px;
  width: 100%;
  text-align: center;
  margin: 0 0 5% 0;
  color: #684192;
}
.mainNotContainer .not > p {
  padding: 0 3%;
  margin: 0 0 5% 0;
}
.mainNotContainer .not > div {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
}
.mainNotContainer .not > div > p {
  padding: 0 10px;
  margin: 0;
  font-size: 20px;
}
.mainNotContainer .not div .clockCont {
  width: 12%;
}

#timeLogo {
  width: 100%;
}

/*------------------------------Contacto------------------------------------*/
.mainMidCont {
  background-color: rgba(126, 88, 163, 0.7490196078);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 11.11%);
  grid-template-rows: repeat(10, 75px);
  justify-content: none;
  align-content: none;
  grid-template-areas: none;
}
.mainMidCont img {
  width: 40px;
  height: 40px;
  align-self: center;
}
.mainMidCont .logAndInf {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 100%;
}
.mainMidCont .logAndInf h2 {
  color: #FFFFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 0 0 3%;
  align-self: center;
  font-size: 20px;
}
.mainMidCont .nearMeInfo {
  grid-column: 2 / 5;
  grid-row: 3;
}
.mainMidCont .whatsappInfo {
  grid-column: 2 / 5;
  grid-row: 4;
}
.mainMidCont .mailInfo {
  grid-column: 2 / 5;
  grid-row: 5;
}
.mainMidCont .rowCont {
  grid-column: 1 / 6;
  grid-row: 6;
  background-color: #FFFFFF;
  width: auto;
  height: 2px;
  margin: 0 10%;
  align-self: center;
}
.mainMidCont #rowOnlyMedia {
  display: none;
}
.mainMidCont .locationInfo {
  grid-column: 6 / 9;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-wrap: none;
  gap: none;
}
.mainMidCont .locationInfo #locationLogo {
  width: 30px;
}
.mainMidCont .mapContainer {
  grid-column: 6 / 9;
  grid-row: 3 / 9;
  background-color: #613D7E;
  width: 100%;
  border: 5px #613D7E solid;
}
.mainMidCont .mapContainer #map {
  width: 100%;
  height: 100%;
}
.mainMidCont .mainFollowCont {
  grid-column: 2 / 5;
  grid-row: 7 / 8;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  flex-wrap: none;
  gap: none;
}
.mainMidCont .mainFollowCont h2 {
  color: #FFFFFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 10%;
  font-size: 40px;
}
.mainMidCont .mainFollowCont .seguinosImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  flex-wrap: none;
  gap: none;
}
.mainMidCont .mainFollowCont .seguinosImages a {
  width: 60px;
}
.mainMidCont .mainFollowCont .seguinosImages a img {
  width: 100%;
  height: auto;
}

@media (max-width: 1170px) {
  #logoVP {
    width: 15%;
  }
}
@media (max-width: 1024px) {
  .dropdown-menu {
    font-size: 15px;
  }
  #logoVP {
    width: 17%;
  }
  .mainHead .contHeadText h1 {
    font-size: 55px;
  }
  .mainHead .contHeadText .hContainer h2 {
    font-size: 25px;
  }
  .mainNotContainer .not > h2 {
    font-size: 25px;
  }
  .credits .rowFotter {
    height: 3px;
  }
  .blackRow {
    height: 3px;
  }
  .credits p, .not div > p {
    font-size: 12px;
    margin: 10px 0;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 19px;
  }
  ul, ol {
    font-size: 19px;
  }
}
@media (max-width: 1013px) {
  header nav .listContainer {
    padding: 0 6% 0 0;
  }
}
@media (min-width: 989px) {
  header nav .dropstart {
    display: none;
  }
}
@media (max-width: 988px) {
  header nav .listContainer {
    display: none;
  }
}
@media (max-width: 912px) {
  .mainHead .contHeadText h1 {
    font-size: 50px;
  }
  .mainHead .contHeadText .hContainer h2 {
    font-size: 20px;
  }
  .mainNotContainer .not > h2 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .btn-sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .credits .rowFotter {
    height: 2px;
  }
  .blackRow {
    height: 2px;
  }
  .mainMidCont {
    display: grid;
    grid-template-columns: repeat(9, 11.11%);
    grid-template-rows: repeat(10, 65px);
    justify-content: none;
    align-content: none;
    grid-template-areas: none;
  }
  .mainMidCont img {
    width: 35px;
    height: 35px;
  }
  .mainMidCont .logAndInf h2 {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .btn-md {
    display: none;
  }
  .imgMed img {
    border: 3px solid #7E58A3;
    margin: 0 10px;
  }
}
@media (max-width: 710px) {
  footer .mainFooter .logosContainer a .fottLogo {
    width: 125%;
  }
  .mainMidCont {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(15, 65px);
    justify-content: none;
    align-content: none;
    grid-template-areas: none;
  }
  .mainMidCont img {
    width: 30px;
    height: 30px;
  }
  .mainMidCont .nearMeInfo {
    grid-column: 0;
    grid-row: 2;
    grid-row: 2;
  }
  .mainMidCont .whatsappInfo {
    grid-column: 0;
    grid-row: 3;
  }
  .mainMidCont .mailInfo {
    grid-column: 0;
    grid-row: 4;
  }
  .mainMidCont .rowCont {
    grid-column: 0;
    grid-row: 12;
  }
  .mainMidCont #rowOnlyMedia {
    grid-column: 0;
    grid-row: 5;
    display: block;
  }
  .mainMidCont .locationInfo {
    grid-column: 2 / 5;
    grid-row: 6;
  }
  .mainMidCont .locationInfo #locationLogo {
    width: 20px;
  }
  .mainMidCont .mapContainer {
    grid-column: 2 / 5;
    grid-row: 7 / 12;
  }
  .mainMidCont .mainFollowCont {
    grid-column: 0;
    grid-row: 13;
  }
  .mainMidCont .mainFollowCont h2 {
    font-size: 33px;
  }
  .mainMidCont .mainFollowCont .seguinosImages a {
    width: 45px;
  }
}
@media (max-width: 614px) {
  .dropdown-menu {
    font-size: 16px;
  }
  .mainHead .contHeadText h1 {
    font-size: 30px;
  }
  .mainHead .contHeadText .hContainer {
    border: 1px dashed #81D618;
  }
  .mainHead .contHeadText .hContainer h2 {
    font-size: 16px;
  }
  .mainRowHead h1 {
    font-size: 30px;
  }
  .mainVPyTPA h2 {
    font-size: 30px;
  }
  .mainNotContainer .not > h2 {
    font-size: 16px;
  }
  .mainNotContainer .not div > p {
    font-size: 16px;
    margin: 8px 0;
  }
  p, ul, ol {
    font-size: 16px;
  }
  h3 {
    font-size: 24px;
  }
  .credits p {
    font-size: 16px;
    margin: 8px 0;
  }
}
@media (max-width: 600px) {
  #logoVP {
    width: 20%;
  }
}
@media (max-width: 453px) {
  #logoVP {
    width: 25%;
  }
  .mainHead .contHeadText h1 {
    font-size: 20px;
  }
  .mainHead .contHeadText .hContainer {
    width: 64%;
    border: 1px dashed #81D618;
  }
  .mainRowHead h1 {
    font-size: 20px;
  }
  .mainVPyTPA h2 {
    font-size: 20px;
  }
  .mainNotContainer .not div > p {
    margin: 4px 0;
  }
  h3 {
    font-size: 17px;
  }
  .blackRow {
    height: 1px;
  }
  .credits p {
    margin: 4px 0;
  }
  .credits .rowFotter {
    height: 1px;
  }
}
@media (max-width: 425px) {
  .btn-group-sm > .btn, .btn-sm {
    --bs-btn-padding-y: -3px;
  }
  .dropstart .dropdown-toggle::before {
    margin-left: 5px;
    margin-right: 0;
  }
  .btn img {
    width: 60%;
  }
  .mainVPyTPA .vpytpaInfo {
    width: 85%;
    flex-direction: column;
    margin-top: 0;
  }
  .mainVPyTPA .vpytpaInfo p {
    width: 100%;
    padding: 3% 0;
  }
  footer .mainFooter .logosContainer a .fottLogo {
    width: 150%;
  }
  .mainMidCont {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(15, 45px);
    justify-content: none;
    align-content: none;
    grid-template-areas: none;
  }
  .mainMidCont img {
    width: 20px;
    height: 20px;
  }
  .mainMidCont .logAndInf h2 {
    font-size: 16px;
  }
  .mainMidCont .mainFollowCont h2 {
    font-size: 20px;
  }
  .mainMidCont .seguinosImages a {
    width: 30px;
  }
  .mainMidCont .locationInfo #locationLogo {
    width: 16px;
  }
  .mainNotContainer .not {
    width: 75%;
  }
}
@media (max-width: 386px) {
  .mainHead .contHeadText .hContainer {
    width: 90%;
    border: 1px dashed #81D618;
  }
  .mainRowHead h1 {
    font-size: 16px;
  }
  .mainVPyTPA h2 {
    font-size: 16px;
  }
  .mainNotContainer .not div > p {
    margin: 3px 0;
  }
  h3 {
    font-size: 16px;
  }
  .credits p {
    margin: 3px 0;
  }
}
@media (max-width: 320px) {
  #logoVP {
    width: 30%;
  }
  footer .mainFooter .logosContainer a .fottLogo {
    width: 150%;
  }
  .imgMed img {
    width: 65%;
  }
  .imgMed .noDisplayimgIndex {
    display: none;
  }
  .benefTPA img {
    display: none;
  }
}
.dropstart {
  list-style: none;
}

.dropdown-menu {
  --bs-dropdown-min-width: 0px;
  --bs-dropdown-font-size: 15px;
}

.btn-light, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
  color: #81D618;
  --bs-btn-color: #81D618;
  --bs-btn-hover-color: #81D618;
}

.dropdown-item {
  text-align: center;
}
.dropdown-item:is(:hover, :focus) {
  filter: none;
  color: #FFFFFF;
  background-color: rgba(144, 73, 219, 0.7607843137);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  transition: color 200ms ease, transform 300ms ease, background-color 300ms ease, box-shadow 300ms ease;
}

.dropdown-item.active {
  background-color: rgba(106, 47, 168, 0.7607843137);
}

.carousel {
  width: 100%;
  background-color: #7E58A3;
  margin-bottom: 5%;
}

.carousel-item img {
  border-radius: 5%;
}

.carousel-outinner-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  flex-wrap: none;
  gap: none;
  width: 100%;
  height: 100%;
}

.carousel-inner {
  width: 40%;
  align-self: center;
  padding: 4%;
}

/*# sourceMappingURL=styles.css.map */
