/*------------------------------Contacto------------------------------------*/

.mainMidCont {
    background-color: $contacto-main-background-color;
    width: 100%;
    @include grid (repeat(9, 11.11%), repeat(10, 75px), none, none, none);
    img {
        width: 40px;
        height: 40px;
        align-self: center;
    }
    .logAndInf {
        @include flex (row, none, none, none, none);
        width: 100%;
        h2 {
            color: $contacto-font-color;
            font-family: $main-font-family;
            margin: 0 0 0 3%;
            align-self: center;
            font-size: 20px;
        }
    }
    .nearMeInfo {
        @include grid-son ("2 / 5", 3);
    }
    .whatsappInfo {
        @include grid-son ("2 / 5", 4);
    }
    .mailInfo {
        @include grid-son ("2 / 5", 5);
    }
    .rowCont {
        @include grid-son ("1 / 6", 6);
        background-color: $contacto-division-row-color;
        width: auto;
        height: 2px;
        margin: 0 10%;
        align-self: center;
    }
    #rowOnlyMedia {
        display: none;
    }
    .locationInfo {
        @include grid-son ("6 / 9", 2);
        @include flex (row, center, none, none, none);
        #locationLogo {
            width: 30px;
        }
    }
    .mapContainer {
        @include grid-son ("6 / 9", "3 / 9");
        background-color: #613D7E;
        width: 100%;
        border: 5px $contacto-map-border-color solid;
        #map {
            width: 100%;
            height: 100%;
        }
    }
    .mainFollowCont {
        @include grid-son ("2 / 5", "7 / 8");
        @include flex (column, none, center, none, none);
        h2 {
            color: $contacto-font-color;
            font-family: $main-font-family;
            margin-bottom: 10%;
            font-size: 40px;
        }
        .seguinosImages {
            width: 100%;
            @include flex (row, space-evenly, none, none, none);
            a {
                width: 60px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}