/*-------------------------------header / navbar----------------------------------*/

header {
    background-color: $head-main-color;
    @include flex(row, none, center, none, none);
    padding: 0px 2%;
    nav {
        width: 100%;
        .listContainer {
            @include flex(row, center, center, wrap, none);
            list-style-type: none;
            margin: 5px 0px;
            padding: 0 9% 0 0;
            li {
                margin: 0px 2%;
                padding: 0px 1%;
                color: $head-nav-font-color;
                font-size: 25px;
                font-family: $main-font-family;
                &:hover {
                    transform: scale(1.1);
                    transition: transform 300ms ease;
                }
            }
            a {
                text-decoration: none;
                color: $head-nav-font-color;
                &:visited{
                    text-decoration: none;
                    color: $head-nav-font-color;
                }
            }
        }
    }
}