/*--Index----------------------------------------------------------------*/

.mainHead {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
        position: relative;
        border-radius: 0 0 5% 5%;
        width: 70%;
    }
    .contHeadText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 60%;
        h1 {
            font-size: 70px;
            font-weight: normal;
        }
        .hContainer {
            width: 60%;
            border-style: dashed;
            border-color: #81D618;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3.5% 2%;
            h1, h2 {
                color: #FFFFFF;
                text-align: center;
                margin: 0 10%;
            }
            h2 {
                font-size: 30px;
                font-weight: normal;
            }
        }
        .h2Container {
            border-top-style: hidden;
        }
    }
}

.qEsPinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    h3 {
        align-self: flex-start;
    }
    &:nth-child(2) {
        margin-bottom: 7%;
    }
}

.imgMed {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
    img {
        width: 45%;
        margin: 0px 25px 0 25px;
        border: 5px solid #7E58A3;
        border-radius: 15%;
    }
}

.benef {
    display: flex;
    flex-direction: column;
    width: 85%;
}