/*-------------------------------SobreMi-----------------------------------*/

.mainVPyTPA {
    @include flex (column, none, center, none, none);
    margin-top: 4%;
    h2 {
        font-size: 50px;
        color: $sobremi-h2-font-color;
        font-family: $main-font-family;
    }
    .vpytpaInfo {
        @include flex (row, space-evenly, center, none, none);
        margin: 3% 0 5% 0;
        p {
            width: 35%;
            padding: 0;
            margin: 0;
        }
    }
}

#slashTopText {
    padding: 0;
    margin: 0 0 5% 0;
    text-align: center;
}

.lastInfoSobreMi {
    @include flex (column, none, none, none, none);
    width: 85%;
    h3 {
        text-align: center;
        padding: 0 4%;
        margin: 3% 0;
    }
    p {
        text-align: center;
    }
}