/*-------------------------------TPA-----------------------------------*/

.blackRow {
    background-color: #000000;
    width: 70%;
    height: 3px;
    margin-bottom: 5%;
}

.benefTPA {
    @include flex (row, center, none, none, none);
    width: 85%;
    margin-bottom: 5%;
    div {
        display: inline-block;
        width: 400px;
        margin: 0;
        padding: 3%;
        align-self: center;
        h3, ul {
            margin: 0 0 5% 0;
            padding: 0;
        }
        ul {
            padding-left: 10%;
        }
    }
    img {
        width: 35%;
        height: 35%;
        place-self: center;
        border-radius: 20px;
        margin: 3%;
    }
}

.lastInfoTPA {
    @include flex (column, center, center, none, none);
    width: 85%;
    h3 {
        text-align: center;
        padding: 0 4%;
        margin: 3% 0;
    }
    p {
        text-align: center;
    }
}