
/*---------------COLORS---------------*/

$mycolors: (
    primary: #81D618,
    secondary: #7E58A3,
    white: #FFFFFF,
    black: #000000
);

/*---------------FONTS---------------*/

$myfonts: (
    primary: $main-font-family
);