@media (max-width: 1024px) {
    .dropdown-menu {
        font-size: 15px;
    }

    #logoVP {
        width: 17%;
    }

    .mainHead .contHeadText h1 {
        font-size: 55px;
    }

    .hContainer h2, .not > h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 30px;
    }

    p {
        font-size: 19px;
    }

    .rowFotter, .blackRow {
        height: 3px;
    }

    .credits p, .not div > p {
        font-size: 12px;
        margin: 10px 0;
    }

    ul, ol {
        font-size: 19px;
    }
}