@media (max-width: 386px) {
    .dropdown-menu {
        font-size: 8px;
    }

    .mainHead {
        .contHeadText {
            h1 {
                font-size: 15px;
            }
            .hContainer{
                border: 1px dashed #81D618;
                h2 {
                    font-size: 8px;
                }
            }
        }
    }

    .mainRowHead {
        h1 {
            font-size: 15px;
        }
    }

    .mainVPyTPA {
        h2 {
            font-size: 15px;
        }
    }

    .mainNotContainer {
        .not {
            & > h2 {
                font-size: 8px;
            }
            div {
                & > p {
                    font-size: 7px;
                    margin: 3px 0;
                }
            }
        }
    }

    p, ul, ol {
        font-size: 8px;
    }

    h3 {
        font-size: 15px;
    }

    .credits {
        p {
            font-size: 4px;
            margin: 3px 0;
        }
    }
}