@media (max-width: 386px) {

    .mainHead {
        .contHeadText {
            .hContainer{
                width: 90%;
                border: 1px dashed #81D618;
            }
        }
    }

    .mainRowHead {
        h1 {
            font-size: 16px;
        }
    }

    .mainVPyTPA {
        h2 {
            font-size: 16px;
        }
    }

    .mainNotContainer {
        .not {
            div {
                & > p {
                    margin: 3px 0;
                }
            }
        }
    }

    h3 {
        font-size: 16px;
    }

    .credits {
        p {
            margin: 3px 0;
        }
    }
}