@media (max-width: 386px) {
    .dropdown-menu {
        font-size: 8px;
    }

    .mainHead .contHeadText h1 , .mainRowHead h1, .mainVPyTPA h2 {
        font-size: 15px;
    }

    p, ul, ol, .hContainer h2, .not > h2 {
        font-size: 8px;
    }

    h3 {
        font-size: 15px;
    }

    .rowFotter, .blackRow {
        height: 1px;
    }

    .credits p, .not div > p {
        font-size: 4px;
        margin: 3px 0;
    }
}