@media (max-width: 453px) {
    #logoVP {
        width: 25%;
    }

    .dropdown-menu {
        font-size: 8px;
    }

    .mainHead .contHeadText h1, .mainRowHead h1, .mainVPyTPA h2 {
        font-size: 20px;
    }

    p, ul, ol, .hContainer h2, .not > h2 {
        font-size: 10px;
    }

    h3 {
        font-size: 17px;
    }

    .rowFotter, .blackRow  {
        height: 1px;
    }

    .credits p, .not div > p {
        font-size: 6px;
        margin: 4px 0;
    }
}