@media (max-width: 453px) {
    #logoVP {
        width: 25%;
    }

    .dropdown-menu {
        font-size: 8px;
    }

    .mainHead {
        .contHeadText {
            h1 {
                font-size: 20px;
            }
            .hContainer{
                border: 1px dashed #81D618;
                h2 {
                    font-size: 10px;
                }
            }
        }
    }

    .mainRowHead {
        h1 {
            font-size: 20px;
        }
    }

    .mainVPyTPA {
        h2 {
            font-size: 20px;
        }
    }

    .mainNotContainer {
        .not {
            & > h2 {
                font-size: 10px;
            }
            div {
                & > p {
                    font-size: 6px;
                    margin: 4px 0;
                }
            }
        }
    }

    p, ul, ol {
        font-size: 10px;
    }

    h3 {
        font-size: 17px;
    }

    .blackRow  {
        height: 1px;
    }

    .credits {
        p {
            font-size: 6px;
            margin: 4px 0;
        }
        .rowFotter {
            height: 1px;
        }
    }
}