@media (max-width: 710px) {
    footer {
        .mainFooter {
            .logosContainer {
                a {
                    .fottLogo {
                        width: 125%;
                    }
                }
            }
        }
    }

    .mainMidCont {
        @include grid (repeat(5, 20%), repeat(15, 65px), none, none, none);
        img {
            width: 30px;
            height: 30px;
        }
        .nearMeInfo {
            @include grid-son (0, 2);
            grid-row: 2;
        }
        .whatsappInfo {
            @include grid-son (0, 3);
        }
        .mailInfo {
            @include grid-son (0, 4);
        }
        .rowCont {
            @include grid-son (0, 12);
        }
        #rowOnlyMedia {
            @include grid-son (0, 5);
            display: block;
        }
        .locationInfo {
            @include grid-son ("2 / 5", 6);
            #locationLogo {
                width: 20px;
            }
        }
        .mapContainer {
            @include grid-son ("2 / 5", "7 / 12");
        }
        .mainFollowCont {
            @include grid-son (0, 13);
            h2 {
                font-size: 33px;
            }
            .seguinosImages {
                a {
                    width: 45px;
                }
            }
        }
    }
}