@media (min-width: 768px) {
    .btn-sm {
        display: none;
    }
}

@media (max-width: 768px) {
    .credits {
        .rowFotter {
            height: 2px;
        }
    }

    .blackRow {
        height: 2px;
    }

    .mainMidCont {
        @include grid (repeat(9, 11.11%), repeat(10, 65px), none, none, none);
        img {
            width: 35px;
            height: 35px;
        }
        .logAndInf {
            h2 {
                font-size: 18px;
            }
        }
    }
}