@media (min-width: 768px) {
    .btn-sm {
        display: none;
    }
}

@media (max-width: 768px) {
    .rowFotter, .blackRow {
        height: 2px;
    }

    .mainMidCont {
        display: grid;
        grid-template-columns: repeat(9, 11.11%);
        grid-template-rows: repeat(10, 65px);
        img {
            width: 35px;
            height: 35px;
        }
    }

    .logAndInf h2 {
        font-size: 18px;
    }
}